@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
@mixin flex-start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3em;
}
@mixin w-80 {
    width: 80%;
    margin: 0 auto;
}
@mixin w-70 {
    width: 70%;
    margin: 0 auto;
}
@mixin w-65 {
    width: 65%;
    margin: 0 auto;
}