//fonts
$libre-display: 'Libre Caslon Display', serif;
$libre-text: 'Libre Caslon Text', serif;
$open-sans: 'Open Sans', sans-serif;

//colors
$grey:#3d4246;
$black:#000;
$light-grey: #f5f5f5;
$white:#fff;